go 1.26.3

use (
	.
	./bdd
	./delimited
	./d2
	./enum
	./envdetect
	./escape
	./examples
	./graph
	./integration
	./markup
	./nom
	./plantuml
	./serialization
	./table
	./testhelpers
	./testhelpers/graphtest
	./tui
)
