go 1.26.4

use (
	.
	./bdd
	./daghtml
	./delimited
	./d2
	./escape
	./examples
	./graph
	./integration
	./markdown
	./markup
	./nom
	./plantuml
	./serialization
	./table
	./testhelpers
	./testhelpers/graphtest
	./tree
	./tui
)
